body {
    width: 80%;
    display: block;
    background-color: rgb(43, 40, 40);
    color: white;
    margin-left: auto;
    margin-right: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.nav {
    display: flex;
    justify-content: space-between;
    background-color: darkslategrey;
}

.nav > a {
    text-decoration: none;
    text-transform: uppercase;
}

.nav > a:hover {
    border: solid 4px darkslategrey;
}

.navbutton {
    color: white;
    border: solid 2px black;
    width: 100%;
    padding: 1%;
    text-align: center;
    align-items: center;
    font-size: 80%;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.selected {
    border: solid 3px rgb(240, 240, 10);
    border-radius: 5px;
}

h1 {
    width: 80%;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-shadow: -2px 2px 2px red;
    text-align: center;
    padding-left: 2%;
    color: rgb(240, 240, 10);
    -webkit-text-stroke: 1px red;
}

.header {
    margin: 5px;
    margin-bottom: 0;
    padding: 1%;
    border-top: solid 50px rgb(240, 240, 10);
    border-bottom: solid 10px rgb(240, 240, 10);
    overflow: hidden;
    position: relative;
}

#header_content {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    box-sizing: content-box;
}

#banner {
    opacity: 0.4;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
}

#logoHeader {
    width: 15%;
}

.title {
    max-width: 300px;
}

.container {
    width:100%;
    margin: 3% auto;
    padding: 2%;
    border: 3px solid rgb(240, 240, 10);
    border-radius: 2px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    box-sizing: border-box;
}

.content {
    padding: 60px;
    max-width: 700px;
    flex-grow: 1;
}

.image {
    width: 300px;
    height: max-content;
    border-radius: 3px;
    border: solid 1px beige;
    align-self: center;
}

.bleeding {
    text-indent: 1em;
}

hr {
    height: 10px;
    background-color: rgb(240, 240, 10);
}

.list-circle {
    list-style-type: circle;
}

dd {
    margin: 3% 0;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
}

table, th, td {
    border: 1px solid white;
    padding: 8px;
}

th {
    padding: 15px;
    background-color: darkslategrey;
    color: rgb(240, 240, 10);
}

td {
    background-color: lightblue;
    color: black;
}

.content a {
    color: tomato;
}

.underline {
    text-decoration: underline;
}

.contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}